table {
  border-style: solid;
}

th, td {
  border-style: solid;
}

.col-headers {
  font-style: italic;
  font-weight: normal;
}

.outer-content {
  background-color: pink;
  width: 75%;
  height: 50px;
  left: 0px;
  margin-top: 20px;
}

.inner-content {
  background-color: #4DFFFF;
  width: 75%;
  height: 50%;  
  text-align: center;
  margin: auto;
}

tbody>tr:nth-of-type(odd) {
	background-color: #03fcf4;
}

tbody>tr:nth-of-type(even) {
	background-color: #03fc9d;	
}

